
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.animated-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #ffffff;
    animation: typing 5s steps(30) infinite;
}

